/*
    HISTORY:

  14-MAY-02 J-03-24 Maya  $$1  Created.

 */

body.frame-package-list, body.frame-package, body.frame-class
{
 background-color: white;
}

a.class:link, a.class:visited, a.package:link, a.package:visited,
a.method:link, a.method:visited, a.field:link, a.field:visited,
a.bold:link, a.bold:visited
{
 font-weight: bold
}

a.type:link, a.type:visited
{
 font-weight: normal
}

table.toolbar
{
 background-color: #ccffff
}

td.toolbar-navigation
{
 text-align: left;
 font-weight: bold
}

td.toolbar-frame-links
{
 text-align: center;
 font-size: small
}

td.toolbar-lib-name
{
 text-align: right;
 font-weight: bold
}

table.packages-frame
{
 border-style: none
}

th.packages-frame, th.classes-frame
{
 text-align: left;
 font-weight: bold;
 padding: 5
}

td.packages-frame, td.classes-frame
{
 border-style: none
}

table.packages, table.classes, table.method-summary, table.field-summary,
table.method-inheritance,
table.method-detail, table.field-detail
{
 border-width: 1;
 border-style: solid
/*
 padding: 5
*/
}

table.method-def, table.field-def
{
/*
 padding: 5
*/
}

table.method-title, table.field-title,
table.method-doc, table.field-doc
{
/*
 padding: 5
*/
}

th.packages, th.classes, th.method-summary, th.field-summary,
th.method-inheritance,
th.method-detail, th.field-detail
{
 background-color: #ccffff;
 text-align: left;
 font-weight: bold;
}

td.packages-name, td.classes-name
{
}

td.packages-text, td.classes-text
{
}

td.return-type
{
 text-align: right;
 vertical-align: top;
}

td.method-summary, td.field-summary
{
 text-align: left;
 vertical-align: top
*/
}

td.method-name, td.field-name
{
 text-align: left;
 vertical-align: top;
 font-weight: bold;
}

td.method-params
{
 text-align: left;
 vertical-align: top;
}

th.method-title, th.field-title
{
 font-size: xlarge;
 font-weight: bold
}
